# Backend Server Port
PORT=5000

# MongoDB Database Connection
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.c7bimng.mongodb.net/genmedicine?retryWrites=true&w=majority&appName=Cluster0"

# Gemini API Key for OCR & Clinical DDI Checks
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# Base Application URL
APP_URL="http://localhost:5000"
